body, html {height: 100%;}

.bgimg
{
    background: url("/static/img/bg-autreg.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.round-top{border-top-left-radius: 8px;border-top-right-radius: 8px;}

.round-bottum{border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;}

.form-decoration {background-color: #99c ; }

.custom-container {
    min-width: 290px ;
}
.form-error{
    padding: 0 8px;
    border: 1px solid #936;
    border-radius: 3px;
    background-color: white;
    color : #936;
}
