

body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #6a5f8a;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #3d3d70;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 2px solid #6a5f8a;  /* padding вокруг плашки */
}

.navbar-logo {
  text-decoration: none;
  font-weight: bold;
}
.navbar-custom-item{
  text-decoration: none;
}

.dark-custom-collor {background-color: #6a5f8a;}

@media (min-width:1100px){.w3-col.xl1{width:8.33333%}.w3-col.xl2{width:16.66666%}.w3-col.xl3{width:24.99999%}.w3-col.xl4{width:33.33333%}
.w3-col.xl5{width:41.66666%}.w3-col.xl6{width:49.99999%}.w3-col.xl7{width:58.33333%}.w3-col.xl8{width:66.66666%}
.w3-col.xl9{width:74.99999%}.w3-col.xl10{width:83.33333%}.w3-col.xl11{width:91.66666%}.w3-col.xl12{width:99.99999%}}