body::-webkit-scrollbar {
  width: 12px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: #6a5f8a;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #3d3d70;    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  border: 2px solid #6a5f8a;  /* padding вокруг плашки */
}

.navbar-logo {
  text-decoration: none;
  font-weight: bold;
}
.bavbar-custom-item-{
  text-decoration: none;

}

.dark-custom-collor {background-color: #6a5f8a;}