{% extends 'blog/index.html' %}
{% load static %}


{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/detail_post.css' %}">
    <link rel="stylesheet" href="{% static 'flickity.min.css' %}">
{% endblock link %}

{% block main_content %}

    <div class="container_detail_post ">

        <div class="w3-row info-block"   >

            <div class="w3-col s12 m4 l3  post_image ">

                <img class="w3-image" src="{{ post.image.url }}" alt="title-image">

            </div>

            <div class="w3-col w3-padding s12 m8 l9  ">
{#=== Название тайтла  ===#}
                <h3><a href="#"> {{ post.title }} / {{ post.english_title }} </a></h3>

                <h4 style="text-align: right ; color: darkblue">{{ post.total_views }} 👁</h4>

                <div class="info-post w3-row w3-padding-small">

                    <div class="w3-col s6 l4 ">
{#=== Серия  ===#}
                        <p>
                            Серия:
                            <br>
                            {% if post.series %}
                                <a href="">{{ post.series }}</a>
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>
{#=== Номер (том/сезон) ===#}
                        <p>
                            Номер {% if post.category.title.lower == "аниме" %}
                            сезона
                            {% elif post.category.title.lower == "ранобе"%}
                            тома
                            {% endif %} :
                            <br>
                            {% if post.number %}
                                {{ post.number }}
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>
{#=== Категория ===#}
                        <p>
                            Тип:
                            <br>
                            {% if post.category %}
                                <a href="">{{ post.category }}</a>
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>
{#=== Жанры ===#}
                        <p>
                            Жанры:
                            <br>
                            {% if post.genre.all %}
                                {% for ganre in post.genre.all %}
                                <a href="{{ ganre.get_detail_ganre }}">{{ ganre.title }}</a>
                                {% endfor %}
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>



                    </div>

{#===================================     C O L  - - -  2     ===============================================#}
                    <div class="w3-col s6 l4 ">
{#=== Создатель ===#}
                        <p>
                            Пост создал:
                            <br>
                            {% if post.creator %}
                                <a href="">{{ post.creator }}</a>
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>
{#=== Дата ===#}
                        <p>
                            Дата просмотра:
                            <br>
                            {% if post.data_end_look %}
                                {{ post.data_end_look|date:'d.m.Y' }}
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>
{#=== Автор ===#}
                        <p>
                            Автор:
                            <br>
                            {% if post.author.name %}
                                <a href="">{{ post.author.name }}</a>
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>
{#=== Год ===#}
                        <p>
                            Год:
                            <br>
                            {% if post.year  %}
                                {{ post.year }}
                            {% else %}
                                <span style="color: #7a7a7a">Не указан</span>
                            {% endif %}
                        </p>


                    </div>
{#===================================     C O L  - - -  3     ===============================================#}
                    <div class="w3-col w3-hide-small w3-hide-medium l4">

                        <p>
                            Оценка:
                            <br>
                            {% if post.estimatio  %}
                                {{ post.estimatio }}
                            {% else %}
                                <span style="color: #7a7a7a">Не указана</span>
                            {% endif %}
                        </p>

                    </div>

                </div>


            </div>

        </div>
{#===================================     I N F O  - - -  B L O C K  - - - 2    ===============================================#}
        <br>
        <h2>Скриншоты</h2>
        <!-- Flickity HTML init -->
        <div class="gallery js-flickity"
            data-flickity-options='{ "wrapAround": true , "autoPlay": 3000  }'>
            <div class="gallery-cell"> <img src="{% static '1.jpg' %}" alt="">  </div>
            <div class="gallery-cell"> <img src="{% static '2.jpg' %}" alt=""> </div>
            <div class="gallery-cell"> <img src="{% static '3.jpg' %}" alt=""> </div>
            <div class="gallery-cell"> <img src="{% static '4.jpg' %}" alt=""> </div>
            <div class="gallery-cell"> <img src="{% static '5.jpg' %}" alt=""> </div>
            <div class="gallery-cell"> <img src="{% static '6.jpg' %}" alt=""> </div>
        </div>
{#===================================     I N F O  - - -  B L O C K  - - - 3    ===============================================#}

        <div class="w3-row info-block">

            {% if post.description %}
            <h2>Описание</h2>
            <div class="description-post">
                {{ post.description|linebreaks  }}
            </div>
            {% endif %}
            <br>


            {% if post.review %}
            <h2>Отзыв</h2>
            <div class="review-post">
                {{ post.review }}
            </div>
            {% endif %}
            <br>

        </div>

    </div>


{% endblock main_content %}

{% block footer %}

    {{ block.super }}
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>

{% endblock footer %}
